<!-- templates/404.html -->
{% set currentpage = 'Not a valid URL' %}
{% extends "base.html" %}
{% block title %}404{% endblock %}
{% block mainblock %}
<!-- Need this for offset the sidebar -->
<div class="row row-cols-1 row-cols-md-3 g-4 ml-auto">
	<!-- Col after offset contianer -->
   <div class="col-sm-6 col-lg-4 mb-3">
			<div class="card mb-3 h-100">
			<div class="card-body">
				<h2 class="card-title">404</h2>
				<p class="card-text">Invalid route.<br><a href="/">Click here</a> to go home.</p>
			</div>
     </div>
   </div>
	 <!-- End of Col after offset contianer -->
 </div>
 <!-- end of side bar offset -->
 {% endblock %}