<!-- templates/content_layout.html -->
{% set currentpage = 'Test Page' %}
{% extends "base.html" %}
{% block title %}Test Page{% endblock %}
{% block mainblock %}

<!-- Need this for offset the sidebar-->
<div class="row row-cols-1 row-cols-md-3 g-4 ml-auto">
  
  <!-- card #1 -->
  <div class="col-sm-6 col-lg-4 mb-3">
    <div class="card mb-3 h-100">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: hover text" focusable="false">
        <title>title</title>
        <image class="bd-placeholder-img card-img-top" xlink:href="https://fscene8.me/content/images/2022/01/1.jpg" style="border: none; width: 100%;height: 100%;" alt="hover text2"></image>
      </svg>
      <div class="card-body">
        <h5 class="card-title">title</h5>
        <p class="card-text">description</p>
      </div>
    </div>
  </div>
  <!-- end of card 1 -->

  <!-- card #2 -->
  <div class="col-sm-6 col-lg-4 mb-3">
    <div class="card mb-3 h-100">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: hover text" focusable="false">
        <title>title</title>
        <image class="bd-placeholder-img card-img-top" xlink:href="https://fscene8.me/content/images/2022/01/1.jpg" style="border: none; width: 100%;height: 100%;" alt="hover text2"></image>
      </svg>
      <div class="card-body">
        <h5 class="card-title">title</h5>
        <p class="card-text">description</p>
      </div>
    </div>
  </div>
  <!-- end of card 2 -->

</div>
<!-- end of side bar offset -->
{% endblock %}